.container {
    width: 100%;
    padding: var(--space-2);
}

.empty {
    display: felx;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: var(--color-text-muted);
}